.search-wrapper {
    overflow: hidden;
}
.search-box-wrapper{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.search-box{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    border: none;
    font-family: 'League Gothic', sans-serif;
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: 100;
}
.search-box:focus{
    outline: none;
}
.search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .2em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}
.results-wrapper{
    width: 100%;
    height: auto;
}

.track-results{
    width: 100%;
}
.search-title{
    color: #fff;
    font-weight: 100;
    font-size: 40px;
    padding: 0;
    margin: 20px 50px
}